// oluşturduğumuz mixin objesini .container adlı yapımızın başına @include adlı anahtar sözcüğü gelecek şekilde yerleştirip kuualanbiliyoruz
@mixin border-radius($par) {
    -o-border-radius: $par;
    -moz-border-radius: $par;
    -webkit-border-radius: $par;
    border-radius: $par;
}